<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Chihuahua or Muffin?🐶🍪 The Implementation.</div>
    <p>
      Provide images of <strong>Chihuahuas</strong>, <strong>muffins</strong> and much more to help solving this old-age quest!
    </p>
    <p>
      Available classes actually are:

['bagel', 'chihuahua', 'chocolate', 'dalmatian', 'dog', 'duckling', 'friedchicken', 'guacamole', 'icecream', 'icecreamcone', 'kitten', 'labradoodle', 'marshmallow', 'mop', 'muffin', 'painauchocolat', 'parrot', 'plantain', 'sharpei', 'sheepdog', 'shiba', 'sloth']
    </p>

<p><img src="https://raw.githubusercontent.com/aviogit/deep-learning-datasets/master/chihuahua-muffin/full.jpg"></p>
<p><img src="https://raw.githubusercontent.com/aviogit/deep-learning-datasets/master/dalmatian-icecream/full.jpg"></p>
<p><img src="https://raw.githubusercontent.com/aviogit/deep-learning-datasets/master/dog-bagel/full.jpg"></p>
<p><img src="https://raw.githubusercontent.com/aviogit/deep-learning-datasets/master/duckling-plantain/full.jpg"></p>
<p><img src="https://raw.githubusercontent.com/aviogit/deep-learning-datasets/master/kitten-icecream/full.jpg"></p>
<p><img src="https://raw.githubusercontent.com/aviogit/deep-learning-datasets/master/labradoodle-friedchicken/full.jpg"></p>
<p><img src="https://raw.githubusercontent.com/aviogit/deep-learning-datasets/master/parrot-guacamole/full.jpg"></p>
<p><img src="https://raw.githubusercontent.com/aviogit/deep-learning-datasets/master/sharpei-chocolate/full.jpg"></p>
<p><img src="https://raw.githubusercontent.com/aviogit/deep-learning-datasets/master/sharpei-icecreamcone/full.jpg"></p>
<p><img src="https://raw.githubusercontent.com/aviogit/deep-learning-datasets/master/sheepdog-mop/full.jpg"></p>
<p><img src="https://raw.githubusercontent.com/aviogit/deep-learning-datasets/master/shiba-marshmallow/full.jpg"></p>
<p><img src="https://raw.githubusercontent.com/aviogit/deep-learning-datasets/master/sloth-painauchocolat/full.jpg"></p>


    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
