<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<!-- div style="background-image: url(https://i.ibb.co/8x1BZZr/doge-background-bw.gif)" -->
<div>
  <div class='center'>
    <div class='title'>Chihuahua or Muffin? 🐶🍪 The Deep Learning Implementation.</div>
    <p>
      Provide images of <strong>Chihuahuas</strong>, <strong>muffins</strong> (<a href="../static/table.html">and much more</a>) to help solving this important scientific challenge!
    </p>
    <p>
      Available classes actually are: bagel, chihuahua, chocolate, dalmatian, dog, duckling, friedchicken, guacamole, icecream, icecreamcone, kitten, labradoodle, marshmallow, mop, muffin, painauchocolat, parrot, plantain, sharpei, sheepdog, shiba, sloth. <a href="https://github.com/aviogit/deep-learning-datasets">Dataset on github.</a>
    </p>
    <p style="border:none">
<img src="https://raw.githubusercontent.com/aviogit/deep-learning-datasets/master/base-dataset/chihuahua-muffin/full.jpg" style="width:400px; max-height:50%; max-width:50%">
    </p>

    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
