<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body background-image: "./doge-background.jpg">
<div>
  <div class='center'>
    <div class='title'>Chihuahua or Muffin?🐶🍪 The Cheatsheet.</div>

	<blockquote class="twitter-tweet tw-align-center"><p lang="in" dir="ltr">chihuahua or muffin ? <a href="https://t.co/LzZ1lwoVrP">pic.twitter.com/LzZ1lwoVrP</a></p>&mdash; karen zack (@teenybiscuit) <a href="https://twitter.com/teenybiscuit/status/707727863571582978?ref_src=twsrc%5Etfw">March 10, 2016</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<div class='center'>

    <div class='title'>Below, there are all the images used for training (just too few, for the moment, to have decent percentages of accuracy).</div>

 <table style="width:100%">
  <tr>
<td><img src="https://raw.githubusercontent.com/aviogit/deep-learning-datasets/master/chihuahua-muffin/full.jpg" style="max-height:100%; max-width:100%"></td>
<td><img src="https://raw.githubusercontent.com/aviogit/deep-learning-datasets/master/dalmatian-icecream/full.jpg" style="max-height:100%; max-width:100%"></td>
<td><img src="https://raw.githubusercontent.com/aviogit/deep-learning-datasets/master/dog-bagel/full.jpg" style="max-height:100%; max-width:100%"></td>
<td><img src="https://raw.githubusercontent.com/aviogit/deep-learning-datasets/master/duckling-plantain/full.jpg" style="max-height:100%; max-width:100%"></td>
  </tr>
  <tr>
<td><img src="https://raw.githubusercontent.com/aviogit/deep-learning-datasets/master/kitten-icecream/full.jpg" style="max-height:100%; max-width:100%"></td>
<td><img src="https://raw.githubusercontent.com/aviogit/deep-learning-datasets/master/labradoodle-friedchicken/full.jpg" style="max-height:100%; max-width:100%"></td>
<td><img src="https://raw.githubusercontent.com/aviogit/deep-learning-datasets/master/parrot-guacamole/full.jpg" style="max-height:100%; max-width:100%"></td>
<td><img src="https://raw.githubusercontent.com/aviogit/deep-learning-datasets/master/sharpei-chocolate/full.jpg" style="max-height:100%; max-width:100%"></td>
  </tr>
  <tr>
<td><img src="https://raw.githubusercontent.com/aviogit/deep-learning-datasets/master/sharpei-icecreamcone/full.jpg" style="max-height:100%; max-width:100%"></td>
<td><img src="https://raw.githubusercontent.com/aviogit/deep-learning-datasets/master/sheepdog-mop/full.jpg" style="max-height:100%; max-width:100%"></td>
<td><img src="https://raw.githubusercontent.com/aviogit/deep-learning-datasets/master/shiba-marshmallow/full.jpg" style="max-height:100%; max-width:100%"></td>
<td><img src="https://raw.githubusercontent.com/aviogit/deep-learning-datasets/master/sloth-painauchocolat/full.jpg" style="max-height:100%; max-width:100%"></td>
  </tr>
</table> 

</div>


    </div>
  </div>
</div>
</body>
</html>
